*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.02rem;
}
body{
    overflow-x: hidden;
    background-color: #22272E;
}
.container{
    padding: 0 16px;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    transition: 0.3s;
}
li{
    list-style: none;
}
input{
    outline: none;
}